@charset "utf-8";
/* boom.css */
body,
div,
table,
p,
ul{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #778899;
    vertical-align: baseline; 
    /* vertical-align : 수직정렬
       baseline : 요소의 기준선을 부모의 기준선과 정렬 
    */
}
#wrap{
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}
table{
    width: 1000px;
    border-spacing: 0;
}
img{
    width: 50px;
    /* opacity: 0; */
    /* display: none;  */
    /* 화면에 표시 안되게 하는 방법 : 
        1. opacity : 0 <=투명도
        2. display: none <= 아예 그 요소가 존재하지 않았다는 듯 사라진 것처럼 보입니다. */
    height: 50px;
}
table tr td{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}