#wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#main-section{
    order: 1;
    /* order 은 배치되는 순서. 값이 작으면 작을수록 먼저 배치 */
    width: 100%;
    background-color: #183786;
}
.page_title{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    padding: 5% 5%;
    max-width: 1000px;
    margin: 0 auto;
}
/* 태블릿 */
@media all and(min-width:780px){
    html{
        font-size: 20px;
    }
}
/* PC */
@media all and (min-width:960px){
    html{
        font-size: 24px;
    }
}