#wrap {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.box {
  display: inline-block;
  height: 100px;
  /* width: 20%; */
  width: 100%;
  padding: 0;
  margin: 0;
}
.box1 {
  background-color: lightblue;
}
.box2 {
  background-color: lightgreen;
}
.box3 {
  background-color: lightpink;
}
.box4 {
  background-color: lightgray;
}
.box5 {
  background-color: lightsteelblue;
}
@media all and (min-width:768px){
    /* 768 이상일 경우에만 적용! */
        .box{width: 50%;}
        .box5{width: 100%;}
    }
@media all and (min-width:1024px){
/* 1024 이상일 경우에만 적용! */
    .box{width: 20%;}
}