#view_box{
    width: 100%;
    height: auto;
    margin-top: 100px;
}
#view_wrap{
    width: 600px;
    height: auto;
    margin: 0 auto;
}
#title{
    font-size: 20px;
}
#image{
    width: 600px;
    height: auto;
}
#image img{
    max-width: 600px;
}
#bt{
    width: 300px;
    display: flex;
    height: 30px;
}
#bt a{
    margin-right: 20px;
    text-align: center;
    width: 80px;
    height: 30px;
    line-height: 30px;
    display: block;
    background-color: black;
    color: white;
}
/* a 태그는 기본적으로 넓이와 높이가 없다. */