.flex{
  display: flex;
  width: 90%;
  height: 100px;
  margin: 30px auto;
  border: 1px solid black;
}
.flex div{
  width: 33.3%;
}
.flex div:nth-child(1){
  background-color: lightcoral;
  height: 80px
}
.flex div:nth-child(2){
  background-color: lightgrey;
  align-self: flex-end;
  height: 30px;
}
.flex div:nth-child(3){
  background-color: lightblue;
  height: 60px;
}
#flex1{align-items: stretch;}
#flex2{align-items: flex-start; }
/* #flex3{align-items: flex-end;} */
#flex4{align-items: center;}
#flex5{align-items: baseline;}